<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/uikit.css" />
    <link rel="stylesheet" href="/css/styles.css">

    <title>404</title>
</head>
<body>
    {{>navbar}}
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <div class="uk-card uk-card-primary uk-card-body">
            <h3 class="uk-card-title">404</h3>
            <p>Sorry! That {{info}} doesnt exist!</p>
        </div>
    </div>

    <!--JS loaded at the end -->
    <script src= "/js/uikit.js"></script>
    <script src= "/js/uikit-icons.js"></script>
</body>
</html>